*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.container{
    height: 500px;
    width: 500px;
    border: 3px solid black;
}

.container > .box{
    height: 100px;
    width: 100px;
    border: 3px solid red;
}

.container > #box1{
    display: inline-block;
}
.container > #box2{
    display: inline-block;
}
.container > #box3{
    display: none;
}
.container > #box4{
    display: inline;
}



.container2{
    /* border: 3px solid black; */
    width: 350px;
    margin: 30px auto;
    padding: 15px 25px;
    background-color: #212121;
    border-radius: 10px;
}

.container2 > button{
    display: block;
    width: 300px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #555;
    color:white;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
    border-radius: 10px;
}

.container2 > button:hover{
    background-color: #666;
}


.circle{
    height: 200px;
    width: 200px;
    background-color: yellow;
    border-radius: 50% ;
}